/*#####################################################################################################*/
/*#################################### SEZIONE INIZIALE LOGO E ANIMAZIONI #############################*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50vw; 
    padding: 0 2em;
    justify-content: space-between;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-size: 1.25em; 
    line-height: 5em; 
    color: #010101;
    z-index: 2;
}

.site-menu {
	display: flex;
    z-index: 2;
    height: 0.5em; 
}

.credits {
	position: fixed;
    left: 0;
    bottom: 0;
    padding: 2em; 
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #010101;
    z-index: 2;
}

.credits span {
    position: relative;
    display: inline-block;
}

.credits span::before,
.credits span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.2em;
    background-color: #010101;
    transition: width 0.3s ease;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
}

.credits span::before {
    top: -0.3em;
    left: 0;
}

.credits span::after {
    bottom: -0.3em;
    right: 0;
}

.credits:hover span::before {
    width: 100%;
    left: 0;
    transition: width 0.3s ease;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
}

.credits:hover span::after {
    width: 100%;
    right: 0;
    transition: width 0.3s ease;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
}

.blocks {
	display: flex;
	font-size: 10vw;
	color: #010101;
}

.letter-container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #DDDDDD;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-weight: 600;
}

/*#####################################################################################################*/
/*#################################### SEZIONE PAGE MODAL #############################################*/

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100vh;         
    margin: 0;
    padding: 0;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    background-color: #010101;
    color: #DDDDDD;
}

.page {
    display: none; 
    width: 100%;
    height: 100vh;
    position: relative;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 70vw;
    height: 85vh;
    background-color: #010101; 
    border: 10px #DDDDDD;
    border-radius: 5em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #DDDDDD;
    text-align: center;
    flex-direction: column;
    padding-bottom: 1em;
    padding-top: 1em;
    z-index: 1000;
}

.modal p {
    font-size: 1.2em; 
    margin: 1em 0;
}
/*-----------------------------------------------*/
#credits-page, #menu-page {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105vw; 
    height: 105vh;
    margin: 0;
    padding: 1em; 
    overflow-x: hidden;
    background-color: #010101;
    border: 10px solid #DDDDDD;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #DDDDDD;
    text-align: center;
    flex-direction: column;
    z-index: 1000;
    transition: transform .1s ease;
        -webkit-transition: transform .1s ease;
        -moz-transition: transform .1s ease;
        -ms-transition: transform .1s ease;
}

#close-btn, #closeMenu-btn {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-size: 1em; 
    font-weight: 600;
    line-height: 1.25em;
    margin: 1em 0;
    outline: none;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, 
                -ms-transform .1s, 
                -webkit-transform .1s, 
                transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

#close-btn:focus-visible, #closemenu-btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -ms-transition: box-shadow .2s;
}

#close-btn:active, #closemenu-btn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

#close-btn:disabled, #closemenu-btn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

#credits-btn{
    cursor:pointer;
}

#menu-btn{
    cursor:pointer;
}

.menu-content > p {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-size: 20px;
    display: inline-block;
    color: #fff;
}
/*-----------------------------------------------*/
button#continue-btn {
    margin: 0;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    border: 1px solid;
    background-color: #00c2ff;
    color: #DDDDDD;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;

    box-shadow: inset 0 0 50px #13274F;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.20, 1, 0, 1);
            transition: all 1250ms cubic-bezier(0.20, 1, 0, 1);
    outline-color: #DDDDDD;
    outline-offset: 0px;
}

button#continue-btn:hover {
    background-color: #0056b3;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 70px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

/* Stato disabilitato */
button#continue-btn:disabled {
    background-color: #A9A9A9;
    color: #666666; 
    cursor: not-allowed;
    box-shadow: inset 0 0 30px #555555;
    opacity: 0.7;
    outline: none;
}

button#continue-btn:disabled:hover {
    background-color: #A9A9A9; 
    box-shadow: inset 0 0 30px #555555; 
    transform: none;
}
/*-----------------------------------------------*/
.dragover {
    background-color: #108738;
    border: 5px dashed #0056b3
}
/*-----------------------------------------------*/
/* Stile per lo slider della Densità Onsets */
#density-onsets {
    display: block;
    appearance: none;
    position: relative;
    left: 18em;
    bottom: 4em;
    width: 14em; 
    height: 1.5em;
    padding: 1.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    background: #010101;
    border-radius: 20px;
    border-style: inset;
    border: 1%;
    box-shadow: 0px 1px 2px white, 6px 6px 14px rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease; 
}

#density-value {
    text-align: center;
    position: relative;
    left: 23em;
    bottom: 5.5em;
    width: 3em; 
    height: 2em;
    padding: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-left: 0.8em;
    margin-bottom: 1.8em;
    border-style: inset;
    background-color: #010101;
    border-radius: 20px;
    box-shadow: 0px 1px 1px white, 6px 6px 14px rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease; 
}

#density-onsets::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ccc; 
    border-radius: 50%;
    border: 2px solid #28282d;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -4px;
}

#density-onsets::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px; 
    background-color: #ccc; 
    border-radius: 50%;
    border: 2px solid #28282d;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -4px;
}

#density-onsets::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 5px; 
    background: #fff;
}

#density-onsets::-moz-range-track {
    height: 10px;
    border-radius: 5px; 
    background: #fff;
}

/*-----------------------------------------------*/
button#preset-btn {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    border: 2px solid rgb(105, 105, 105);;
    background-color: #DDDDDD;
    color: #181818;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    position: relative; 
    overflow: hidden; 
    text-transform: uppercase;
    transition: color 0.2s ease, border-color 0.2s ease;
        -webkit-transition: color 0.2s ease, border-color 0.2s ease;
        -moz-transition: color 0.2s ease, border-color 0.2s ease;
        -ms-transition: color 0.2s ease, border-color 0.2s ease;
    box-shadow: rgb(40, 40, 40) 0px 2px 1px,
                rgb(80, 80, 80) 0px 4px 8px -3px,
                rgb(105, 105, 105) 0px -1px 0px inset;
    text-shadow: none;
}

button#preset-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 140%;
    width: 240%;
    background-color: #33ff8c;
    box-shadow: inset 0 0 60px #07421b;
    text-shadow: 1px 1px 2px #07421b;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in-out;
        -ms-transition: transform 0.5s ease-in-out;
    z-index: 1; 
}

button#preset-btn span {
    position: relative;
    z-index: 2;
    transition: color 0.5s ease-in-out;
        -webkit-transition: color 0.5s ease-in-out;
        -moz-transition: color 0.5s ease-in-out;
        -ms-transition: color 0.5s ease-in-out;
    
}

button#preset-btn:hover::before {
    transform: translateX(-50%); 
        -webkit-transform: translateX(-50%); 
        -moz-transform: translateX(-50%); 
        -ms-transform: translateX(-50%); 
}

button#preset-btn:hover {
    color: #fff; 
    border-color: #ccc; 
}

button#preset-btn:hover span {
    color: #fff; 
}
/*-----------------------------------------------*/
#preset-list > button {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    border: 0 solid;
    background-color: #DDDDDD;
    color: #181818;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    position: relative; 
    box-sizing: border-box;
    box-shadow: rgb(40, 40, 40) 0px 2px 1px, 
                rgb(80, 80, 80) 0px 2px 4px -3px, 
                rgb(105, 105, 105) 0px -2px 0px inset;
    outline: 1px solid;
    outline-color: rgb(105, 105, 105);
    outline-offset: 0px;
    text-shadow: none;
    transition: box-shadow 0.1s ease;
        -webkit-transition: box-shadow 0.1s ease;
        -moz-transition: box-shadow 0.1s ease;
        -ms-transition: box-shadow 0.1s ease;
}

#preset-list > button:active {
    transform: translateY(0.1em);
        -webkit-transform: translateY(0.1em);
        -moz-transform: translateY(0.1em);
        -ms-transform: translateY(0.1em);
    transition: transform 0.1s ease;
    box-shadow: rgb(40, 40, 40) 0px 1px 0px,
                rgb(80, 80, 80) 0px 1px 3px -3px, 
                rgb(105, 105, 105) 0px -1px 0px inset;
}
/*-----------------------------------------------*/
button#record-btn {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    border: 0 solid;
    background-color: #f10c14;
    color: #DDDDDD;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;

    box-shadow: rgb(255, 60, 65) 0px 1px 2px,
                rgb(255, 60, 65) 0px 4px 8px -3px,
                rgb(162, 2, 2) 0px -4px 0px inset;
    outline: 0px solid;
    outline-offset: 0px;
    text-shadow: none;
    outline-color: #DDDDDD;
    outline-offset: 0px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
        -webkit-transition: transform 0.1s ease, box-shadow 0.1s ease;
        -moz-transition: transform 0.1s ease, box-shadow 0.1s ease;
        -ms-transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button#record-btn:hover {
    transform: translateY(3px);
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
    box-shadow: rgb(255, 60, 65) 0px 1px 2px,
                rgb(255, 60, 65) 0px 3px 6px -2px,
                rgb(162, 2, 2) 0px -2px 0px inset;
}

button#record-btn:active {
    transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
    box-shadow: rgb(255, 60, 65) 0px 1px 2px,
                rgb(255, 60, 65) 0px 2px 4px -1px,
                rgb(162, 2, 2) 0px -3px 0px inset;
}
/*-----------------------------------------------*/
 #record{
    background-color: initial;
    background-image: linear-gradient(-180deg, #ef0d0d, #c91403);
    border-radius: 6%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    margin: 0.1em;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 14px;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
        -webkit-transition: box-shadow .2s;
        -moz-transition: box-shadow .2s;
        -ms-transition: box-shadow .2s;
}

#record:hover {
    box-shadow: rgba(253, 10, 10, 0.774) 0 1px 8px;
}
#record:active {
    transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
    box-shadow: 0 2px 8px rgba(253, 10, 10, 0.774);
}
/*-----------------------------------------------*/
#pause {
    background-color: initial;
    background-image: linear-gradient(-180deg, #19e044, #038930);
    border-radius: 6%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 14px;
    margin: 0.1em;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
        -webkit-transition: box-shadow .2s;
        -moz-transition: box-shadow .2s;
        -ms-transition: box-shadow .2s;
}

#pause:hover {
    box-shadow: #33ff8c 0 1px 5px;
}

#pause:active {
    transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
    box-shadow: 0 2px 5px #33ff8c;
}
/*-----------------------------------------------*/
#mic-select {
    background-color: initial;
    background-image: linear-gradient(-180deg, #DDDDDD, #8b8888dd);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #010101;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 2px 2px #DDDDDD;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    margin: 0.1em;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
        -webkit-transition: box-shadow .2s;
        -moz-transition: box-shadow .2s;
        -ms-transition: box-shadow .2s;
    
}

#mic-select:hover {
    box-shadow: #DDDDDD 0 1px 4px;
}
/*-----------------------------------------------*/
#play-button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #ccc, #8b8888dd);
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #010101;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    height: 40px;
    width: 60px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
        -webkit-transition: box-shadow .2s;
        -moz-transition: box-shadow .2s;
        -ms-transition: box-shadow .2s;
}

#play-button:hover {
    box-shadow: #ccc 0 1px 2px;
}

#play-button:active {
    transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
}
/*-----------------------------------------------*/
#download-link {
    background-color: initial;
    background-image: linear-gradient(-180deg, #ccc, #8b8888dd);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #0052A3;
    cursor: pointer;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    align-items: center;
    outline: 0;
    padding: 0.02em 0.2em;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
        -webkit-transition: box-shadow .2s;
        -moz-transition: box-shadow .2s;
        -ms-transition: box-shadow .2s;
}

#download-link:hover {
    box-shadow: #ccc 0 1px 2px;
}

#download-link:active {
    transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
}

#progress-bar {
    transition: width 0.2s ease-in-out;
        -webkit-transition: width 0.2s ease-in-out;
        -moz-transition: width 0.2s ease-in-out;
        -ms-transition: width 0.2s ease-in-out;
    background-color: #33ff8c;
}