/*#####################################################################################################*/
/*#################################### SEZIONE INIZIALE LOGO E ANIMAZIONI #############################*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 800px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 100px;
    color: #010101;
    z-index: 2;
}

.site-menu {
	display: flex;
    z-index: 2;
}

.credits {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 40px;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
	text-transform: uppercase;
	color: #010101;
    z-index: 2;
}

.credits span {
    position: relative;
    display: inline-block;
}

.credits span::before,
.credits span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #010101;
    transition: width 0.3s ease;
}

.credits span::before {
    top: -5px;
    left: 0;
}

.credits span::after {
    bottom: -5px;
    right: 0;
}

.credits:hover span::before {
    width: 100%;
    left: 0;
}

.credits:hover span::after {
    width: 100%;
    right: 0;
}

.blocks {
	display: flex;
	font-size: 160px;
	color: #010101;
}

.letter-container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #DDDDDD;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-weight: 600;
}

/*#####################################################################################################*/
/*#################################### SEZIONE PAGE MODAL #############################################*/

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centratura verticale */
    align-items: center;    /* Centratura orizzontale */
    height: 100vh;          /* Assicura che il body occupi tutta l'altezza */
    margin: 0;
    padding: 0;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    background-color: #010101;
    color: #DDDDDD;
}

.page {
    display: none; /* Tutte le pagine sono inizialmente nascoste */
    width: 100%;
    height: 100vh;
    position: relative;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%; /* Posiziona al centro verticale */
    left: 50%; /* Posiziona al centro orizzontale */
    transform: translate(-50%, -50%); /* Sposta esattamente al centro dello schermo */
    width: 70%; /* Larghezza della modale */
    height: 80vh; /* Altezza della modale */
    background-color: #010101; 
    border: 10px #DDDDDD;
    border-radius: 80px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #DDDDDD;
    text-align: center;
    flex-direction: column; /* Disposizione verticale */
    z-index: 1000;
}

.modal p {
    font-size: 24px;
    margin: 20px 0;
}

.modal:hover {
    transform: perspective(3000px) rotateY(5deg);
}
/*-----------------------------------------------*/
#credits-page {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%; /* Posiziona al centro verticale */
    left: 50%; /* Posiziona al centro orizzontale */
    transform: translate(-50%, -50%); /* Sposta esattamente al centro dello schermo */
    width: 100%;        /* Imposta la larghezza al 100% del viewport */
    height: 100%;       /* Imposta l'altezza al 100% del viewport */
    margin: 0;          /* Rimuovi margini di default */
    padding: 0;         /* Rimuovi padding di default */
    overflow-x: hidden;
    background-color: #010101; 
    border: 10px #DDDDDD;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #DDDDDD;
    text-align: center;
    flex-direction: column; /* Disposizione verticale */
    z-index: 1000;
}

#close-btn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 8px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

#close-btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#close-btn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

#close-btn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
/*-----------------------------------------------*/
button#continue-btn {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    border: 1px solid;
    background-color: #00c2ff;
    color: #DDDDDD;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;

    box-shadow: inset 0 0 50px #13274F;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.20, 1, 0, 1);
            transition: all 1250ms cubic-bezier(0.20, 1, 0, 1);
    outline-color: #DDDDDD;
    outline-offset: 0px;
}

button#continue-btn:hover {
    background-color: #0056b3;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 70px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}
/*-----------------------------------------------*/
.dragover {
    background-color: #108738;
    border: 5px dashed #0056b3
}
/*-----------------------------------------------*/
button#preset-btn {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    border: 2px solid rgb(105, 105, 105);;
    background-color: #DDDDDD;
    color: #181818;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    position: relative; /* Necessario per posizionare l'effetto "before" */
    overflow: hidden; /* Nasconde l'animazione in eccesso */
    text-transform: uppercase;
    transition: color 0.2s ease, border-color 0.2s ease; /* Transizione per il colore e il bordo */

    box-shadow: rgb(40, 40, 40) 0px 2px 1px, rgb(80, 80, 80) 0px 4px 8px -3px, rgb(105, 105, 105) 0px -1px 0px inset;
    text-shadow: none;
}

button#preset-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 140%;
    width: 240%;
    background-color: #33ff8c;
    box-shadow: inset 0 0 60px #07421b;
    text-shadow: 1px 1px 2px #07421b;
    transform: translateX(-150%);
    transition: transform 0.4s ease-in-out;
    z-index: 1; /* Mette l'elemento before dietro al testo */
}

button#preset-btn span {
    position: relative;
    z-index: 2; /* Garantisce che il testo rimanga sopra l'elemento before */
    transition: color 0.4s ease-in-out;
}

button#preset-btn:hover::before {
    transform: translateX(-50%); /* Animazione che sposta il background */
}

button#preset-btn:hover {
    color: #DDDDDD; /* Colore del testo cambia durante l'hover */
    border-color: #DDDDDD; /* Colore del bordo cambia */
}

button#preset-btn:hover span {
    color: #DDDDDD; /* Colore del testo cambia durante l'hover */
}
/*-----------------------------------------------*/
#preset-list > button {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    border: 0 solid;
    background-color: #DDDDDD;
    color: #181818;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

    box-shadow: rgb(40, 40, 40) 0px 2px 1px, rgb(80, 80, 80) 0px 4px 8px -3px, rgb(105, 105, 105) 0px -3px 0px inset;
    outline: 1px solid;
    outline-color: rgb(105, 105, 105);
    outline-offset: 0px;
    text-shadow: none;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#preset-list > button:hover {
    transform: translateY(2px);
    box-shadow: rgb(40, 40, 40) 0px 1px 2px, rgb(80, 80, 80) 0px 6px 6px -2px, rgb(105, 105, 105) 0px -2px 0px inset;
}

#preset-list > button:active {
    transform: translateY(3px);
    box-shadow: rgb(40, 40, 40) 0px 1px -2px, rgb(80, 80, 80) 0px -6px -4px -1px, rgb(105, 105, 105) 0px 0px 0px inset;
}
/*-----------------------------------------------*/
button#record-btn {
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    border: 0 solid;
    background-color: #f10c14;
    color: #DDDDDD;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;

    box-shadow: rgb(255, 60, 65) 0px 1px 2px, rgb(255, 60, 65) 0px 4px 8px -3px, rgb(162, 2, 2) 0px -4px 0px inset;
    outline: 0px solid;
    outline-offset: 0px;
    text-shadow: none;
    outline-color: #DDDDDD;
    outline-offset: 0px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button#record-btn:hover {
    transform: translateY(3px); /* Sposta il bottone verso il basso */
    box-shadow: rgb(255, 60, 65) 0px 1px 2px, rgb(255, 60, 65) 0px 3px 6px -2px, rgb(162, 2, 2) 0px -2px 0px inset;
}

button#record-btn:active {
    transform: translateY(5px); /* Sposta il bottone verso il basso di più durante il clic */
    box-shadow: rgb(255, 60, 65) 0px 1px 2px, rgb(255, 60, 65) 0px 2px 4px -1px, rgb(162, 2, 2) 0px -3px 0px inset;
}
/*-----------------------------------------------*/
 #record{
    background-color: initial;
    background-image: linear-gradient(-180deg, #ef0d0d, #c91403);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 14px;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

#record:hover {
    box-shadow: rgba(253, 10, 10, 0.774) 0 4px 8px;
}

/*-----------------------------------------------*/
#pause {
    background-color: initial;
    background-image: linear-gradient(-180deg, #19e044, #038930);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 14px;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

#pause:hover {
    box-shadow: #33ff8c 0 3px 8px;
}
/*-----------------------------------------------*/
#mic-select {
    background-color: initial;
    background-image: linear-gradient(-180deg, #DDDDDD, #8b8888dd);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #010101;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 2px 2px #DDDDDD;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

#mic-select:hover {
    box-shadow: #DDDDDD 0 2px 8px;
}
/*-----------------------------------------------*/
#play-button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #DDDDDD, #8b8888dd);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #010101;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 2px 2px #DDDDDD;
    font-size: 16px;
    height: 40px;
    width: 50px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

#play-button:hover {
    box-shadow: #DDDDDD 0 1px 4px;
}
/*-----------------------------------------------*/
#download-link {
    background-color: initial;
    background-image: linear-gradient(-180deg, #DDDDDD, #8b8888dd);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #0056b3;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 2px 2px #DDDDDD;
    font-size: 16px;
    height: 40px;
    width: 180px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

#download-link:hover {
    box-shadow: #DDDDDD 0 1px 4px;
}

/*#####################################################################################################*/
/*#################################### SEZIONE MATRIX #################################################*/

#progress-bar {
    transition: width 0.2s ease-in-out; /* Aggiungi una transizione per un effetto fluido */
    background-color: #33ff8c;
}

#matrix-container {
    float: left;

    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 8px;
    color: #DDDDDD;
    display: flex;
    margin-left: 20%;
    
}

table#matrixTable {
    width: 100%;
    border-collapse: collapse;
}

table#matrixTable th, table#matrixTable td {
    border: 1px solid #555;
    padding: 5px;
    text-align: center;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
}

select {
    font-weight: bold;
    color: #DDDDDD;
    border: 1px solid #333;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000;
    border-radius: 5px;
}

select option {
    background-color: #333;
}

button.add-row-btn {
    background-color: #444;
    color: #DDDDDD;
    border: 1px solid #666;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}

button.remove-btn {
    background-color: #e74c3c;
    color: #DDDDDD;
    border: 1px solid #c0392b;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#canvas-container {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 400px;
    background-color: #1e1e1e;
    border-radius: 10px;
}
/*#####################################################################################################*/
/*#################################### SEZIONE WORKSTATION ############################################*/

#workstation {
    background-color: #181818;
    color: #DDDDDD;
    text-align: center;
    font-size: 20px;
    filter: blur(100px);
}
/*#####################################################################################################*/
/*#################################### SEZIONE WAVEFORM ###############################################*/

#waveform {
    background: rgba(6, 6, 6, 0.845); /* Trasparente, effetto vetro */
    /* Sfuoca lo sfondo dietro la sezione */
    border: 4px solid #DDDDDD; /* Bordi spessi con colore del legno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra leggera per profondità *//* Centra il contenuto all'interno */
    box-sizing: border-box; /* Include il bordo nelle dimensioni */
} 

#waveform ::part(marker) {
    border: 1px solid #d12d2d;
    padding: 1px;
}

#waveform-controls {
    color: #000000; /* Colore del testo */
}

/*#####################################################################################################*/
/*#################################### SEZIONE SLOT AUDIO #############################################*/
.savings {
    display: flex;
    gap: 10px; /* Aumentato il gap per distanziare meglio gli slot */
    width: 100%; /* Aumentata la larghezza del container */
    justify-content: center; /* Gli slot saranno centrati all'interno del container */
    background-color: #DDDDDD; /* Colore di sfondo invariato */
    padding-top: 15px; /* Aggiunto padding per creare spazio tra gli slot e i bordi del container */
    padding-bottom: 20px;
    box-sizing: border-box; /* Assicura che il padding non influisca sulle dimensioni complessive */
}

.discard-btn {
    height: 25%;
    width: 46%;
    justify-content: center;
    border-radius: 40px 40px 0px 0px;
    color: #010101;
    font-size: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: background-color 150ms ease;
}

.discard-btn:hover {
    background-color: #d12d2d;
    color: #fff;
}

.slot {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #28282d);
  border-radius: 40px 40px 40px 40px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-size: 13px;
  height: 52px;
  width: 120px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.slot:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, -2px, 0);
    opacity: .85;
    border: 3px solid #fff;
}

.slot:active {
  outline: 0;
}

.slot:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media (max-width: 420px) {
  .slot {
    height: 48px;
  }
}